<div class="card shadow-sm">
  <img class="bd-placeholder-img card-img-top" width="100%" src="{{obj.image.url}}" role="img"
        aria-label="Placeholder: Thumbnail" focusable="false">
  <div class="card-body">
    <h4 class="card-text">{{obj.name}}</h4>
    <br>
    <p class="card-text">{{obj.description}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
          <a href="" type="button" class="btn btn-sm btn-outline-secondary">View</a>
      </div>
      <small class="text-muted">{{obj.date.date}}</small>
  </div>
  </div>
</div>