{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}Tech Space - Blog{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<section>
  <div class="container innerPageBannerCol">
    <h2>Blogs</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for obj in object_list %}
        <div class="col">
          {% include "components/blog_card.html" %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %} 
<!-- ================================
End Content
================================= -->