{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<section>
  <div class="container innerPageBannerCol">
    <h2>
      Portfolios
      {% if request.user.is_superuser %}
      <span>
        - <a href="{% url 'post:create-portfolio' %}"type="button" class="btn btn-link">Create</a>
      </span>
      {% endif %}
    </h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for obj in object_list %}
        <div class="col">
          {% include "components/portfolio_card.html" %}
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- pagination -->
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link btn btn-sm"  href="?page=1">&laquo; first</a></li>
        <li class="page-item"><a class="page-link btn btn-sm"  href="?page={{ page_obj.previous_page_number }}">previous</a></li>
      {% endif %}
      <span class="current">
        <li class="page-item page-link btn btn-sm">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
      </span>
      {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link btn btn-sm"  href="?page={{ page_obj.next_page_number }}">next</a></li>
        <li class="page-item"><a class="page-link btn btn-sm"  href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
      {% endif %}
    </ul>
  </nav>
  <!-- pagination -->
</section>
{% endblock %}  
<!-- ================================
End Content
================================= -->