{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}Tech Space - Portfolio{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<section>
  <div class="container innerPageBannerCol">
    <h2>Portfolio</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.media }}
      {{ form | crispy}}
      <input type="submit">
  </form>
  </div>
</section>
{% endblock %} 
<!-- ================================
End Content
================================= -->